._footer {
    @include grid-span(10, 2);
    text-align: center;
    clear: both;

    @include breakpoint(650) {
        @include grid-span(5, 1);
    }
    &--social-list-item{
    	text-decoration: none;
        display: inline-block;
        list-style: none;
        padding: 2em;

        &-link{
        	@extend %link;
            position: relative;
            color: inherit;

            &:hover{
                &::after{
                    position: absolute;
                    right: -.5rem;
                    content:"!";
                }
            }
        }
    }
}
