.nav {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 6 * $br;

  &--item {
    display: inline-block;
    position: relative;

    &:after{
      content: "";
      transition: width 0.3s cubic-bezier(.35,0,0,1);
      position: absolute;
      bottom: 0;
      height: 0.15rem;
      width: 0;
      background: currentColor;
      left: 50%;
      transform: translateX(-50%);
    }

    &:hover:after{
      width: 100%;
    }
  }
}
