
<section class="_section">
    <h1 class="_section--title">
      Work
    </h1>
    <p class="_section--text">
        I currently work at IBM Design, check out some of my dope projects or articles
    </p>
    <p class="_section--link">
        <a class="_section--link" href="/projects">All Projects <i class="fa fa-angle-double-right highlight"></i></a>
    </p>
    <p class="_section--link">
        <a class="_section--link" href="/articles">All Articles <i class="fa fa-angle-double-right highlight"></i></a>
    </p>
</section>