<nav role="navigation" id="nav" class="_nav">
    <ul class="_nav--list">
        <a href="/" title="Home" class="_nav--link">
            <li class="_nav--item">
                //
            </li>
        </a>

        <!-- uncomment when further developed
        <a href="/projects" title="Projects" class="_nav--link">
            <li class="_nav--item">
                Projects
            </li>
        </a> -->
        <a href="/blog" title="Blog" class="_nav--link">
            <li class="_nav--item">
                Blog
            </li>
        </a>
        <!-- uncomment when further developed
        <a href="/arts" title="Arts" class="_nav--link">
            <li class="_nav--item">
                Arts
            </li>
        </a> -->
        <!--  uncomment when further developed
        <a href="/archives" title="Arts" class="_nav--link">
            <li class="_nav--item">
                The Magic That Happens
            </li>
        </a> -->
    </ul>
</nav>
