        <!-- Footer -->
		<footer class="bg--dark text--light" role="contentinfo">

			<!-- Featured content -->
			<div class="flex flex--row-md mw--95-90 m--auto pt-5">
				{% for feature in site.data.footer.features %}
					<a href="{{feature.link}}" class="flex__box-1 flex__box--gutter p-1 text--light  trans-all--fast-in-out">
					        <h3>{{ feature.title }}</h3>
					        {{ feature.caption }}
                    </a>
				{% endfor %}
			</div>

			<!-- Email form -->
			<div class="mw--95-90 m--auto pt-5">
				<form action="" class="text--center">
					<input type="email" class="input--underline input--responsive text--light"
						placeholder="party@myhouse.com">
					<input type="submit" value="Say hi" class="input--submit input--responsive button--light ml-md-sm mt-sm mt-md-0">
				</form>
			</div>

			<!-- Salutation -->
			<div class="mw--95-90 m--auto py-5">
				Thanks for visiting my site, <br>
				<a target="_blank" class="text--light" href="http://twitter.com/devanipsum">
					Devan
				</a>
			</div>
		</footer>

    <script src="./assets/js/index.js" type="text/javascript"></script>
</body>

</html>
