<!DOCTYPE html>
<html lang=en{% if page.class %} class="{{ page.class }}"{% endif %}>
<head>
	<meta charset="utf-8"/>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
	<meta name="viewport" content="initial-scale=1" />
	<meta name="p:domain_verify" content="73bb9724cf18cc4f5f5d8e8553eeb2ff"/>

	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:site_name" content="{{ site.name }}"/>
	<meta property="og:description" content="{{ site.description | strip_html }}"/>
	<meta property="og:url" content="{{ page.url }}"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Mono|Dancing+Script" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css">

	<link rel="shortcut icon" href="/favicon.png"/>

    <meta name="theme-color" content="white" />

    {% for item in site.data.theme-colors %}
        {% if page.color contains item.color %}
            <meta name="theme-color" content="{{item.hex}}" />
        {% endif %}
    {% endfor %}

</head>
	<body>
