<div  id="menu-bar" class="flex flex--center pos--fixed pos--fixed-highest pos--top-center mw--95-90">
    <div class="pt--md flex flex--center flex--space-between w--100">
        <a id="home-button" class="icon icon--lg shadow-blue--sm" href="/">
            {% include svg/logo.svg %}
        </a>

        <label id="menu-button" class="menu__button icon icon--lg  shadow-black--sm">
            <span class="menu__hamburger menu__hamburger-1"></span>
            <span class="menu__hamburger menu__hamburger-2"></span>
            <span class="menu__hamburger menu__hamburger-3"></span>
        </label>
    </div>
</div>

<div id="menu-container" class="menu__container bg--blue pos--absolute" >
    <nav class="menu__body ">
            {% for navitem in site.data.nav.navitems %}
                <h1 class="p--sm m--0">
                    <a href="{{navitem.link}} " class="menu__list-item">
                        {{navitem.label}}
                    </a>
                </h1>
            {% endfor %}
        </nav>
        <nav class="menu__footer">
            {% for navitem in site.data.social-nav.navitems %}
                <a href="{{navitem.link}} " class="menu__list-item">
                    {{navitem.label}}
                </a>
            {% endfor %}
        </nav>
</div>
