<nav class="flex flex--center pos--fixed pos--fixed-highest w--100 border-bottom--xs-gray bg--white onTop" data-top-nav="container">
	<div class="flex flex--space-between flex--flag flex--column flex--row-md py--xs mw--95-95" data-top-nav="nav">
		<a href="/" class="flex text--no-underline" data-top-nav="icon">{% include svg/sm-logo.svg %}</a>

		<ul class="flex flex--space-around text--code" data-top-nav="text">
			{% for p in site.data.nav.navitems %}
					<li class="px--sm">
						<a {% if p.url == page.url %}class="active"{% else %}class=""{% endif %} href="{{ p.url | prepend: site.baseurl }}">{{ p.label }}</a>
					</li>
				{% endfor %}
		</ul>
	</div>
</nav>
