.about-page {
    @extend .page;

    &--section {
        @extend .page--section;

        &--CENTERED {
            @extend .page--section;

            text-align: center;
            padding: {
                bottom: 3.5*$br;
                top: 3.5*$br;
            }
        }
    }

    &--headline {
        @extend .page--headline;
        text-align: center;
    }
}
