$bg-white: $white;

.bg {
    @each $profile, $bgcolor in $theme-colors {
        &--#{$profile} {
            background-color: $bgcolor;
            &:focus,
            &:hover {
                background-color: $bgcolor;
            }
        }
    }
}
