/// Additions to flexboxgrid

.flex {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

    &--center-xs {
        justify-content: center;
        align-items: center;
    }
}

.box {
    box-sizing: border-box;
    flex: 0 0 auto;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}
