$height-namespace: "h";
$height-sizes: 5, 10, 16;

.#{$height-namespace} {
    @each $size in $height-sizes {
        &-#{$size} {
            height: $size;
        }
    }
}

.#{$height-namespace} {
    @each $size in $height-sizes {
        &-#{$size} {
            min-height: $size * 1rem;
        }
    }
}
