
.page {
    @extend %fadein;
    font-family: Helvetica;
    font-weight: lighter;
    opacity: 0;


    &--headline {
        margin-top: 50%;
        transform: translateY(-50%);
        font-size: 1.15rem;
    }
}
