
.page {
    @extend %fadein;
    font-family: Helvetica;
    font-weight: lighter;
    padding-bottom: br(10);
    opacity: 0;

    &--section {
        text-align: left;
        padding: {
            bottom: br(3);
            top: br(2);
        }
    }

    &--headline {
        @include ms(2);
        font-weight: lighter;
        padding: br(8) auto;

        &--SMALL {
            @include ms(1);
            padding-top: br(2);
        }
    }
}
