
.page {
    @extend %fadein;
    font-family: Helvetica;
    font-weight: lighter;
    opacity: 0;


    &--headline {
        @include ms(2);
        font-weight: lighter;
        margin-top: 8rem;

        &--SMALL {
            @include ms(1);
            margin-top: 50%;
            transform: translateY(-50%);
        }
    }
}
