---
layout: default
title: About Meh
sections:
    - header: tl;dr
      text:
        - I like cats, I want to be your friend and talk about design and stuff
    - header: Also,
      text:
        - I currently work at IBM Design, live in Austin, TX.
        - I think that rats make for really cute and very inteligent pets. Ironically enough I draw a lot of cat doodles. I like to play board games and card games based on roleplaying games.
        - I thought that I would try building this website without a navigation menu, so I hope that doesn't inconvience you.
        - You're really great and I'm glad that you've read this far. I'll share a secret with you. If you type "telnet towel.blinkenlights.nl" in your terminal, without quotes, you can watch the original starwars movie in your terminal, which I think is pretty cool.
        - My favorite presets on my bp50 multi-effect bass pedel are 64, 32, 31, 4, & 5
---

<main class="_full">
    <h1 class="page--headline">
        {{ page.title }}
    </h1>

    {% for section in page.sections %}
        <section class="page--section">

            <h2 class="base--h2">
              {{ section.header }}
            </h2>
            {% for p in section.text %}
                <p class="base--p">
                    {{ p }}
                </p>
            {% endfor %}
        </section>
    {% endfor %}
</main>
