$input-namespace: "input" !default;// NOTE:

.#{$input-namespace} {
  &--underline {
    background: transparent;
    border: none;
    font-size: 1.2em;
    padding: .2em;
    border-bottom: 3px solid color(text-light);
    width: 100%;

    &:focus {
      outline: none;
      box-shadow: shadow(md);
    }
  }

  &--responsive {
    width: 100%;

    @include screen(md) {
      width: auto;
    }
  }

  &--submit {
    padding: .4em;
    border: none;
    background: color(background-button);
    color: color(text-light);
    transition: box-shadow transition(fast, out);
    font-size: 1.2em;
    box-shadow: shadow(sm);

    &:hover {
      box-shadow: shadow(md);
    }

  }
}
