$markdown-namespace: "markdown" !default;
* {
  box-sizing: border-box;
}
.#{$markdown-namespace} {
  margin: auto;
  width: 95%;
  max-width: 900px;

  a {
    color: color(default-link);
  }

  .img {
    margin: auto;
    max-width: 100%;
    box-shadow: shadow(lg);
    margin-top: map-get($margin-sizes, sm);
    margin-bottom: map-get($margin-sizes, lg);
    margin-left: map-get($margin-sizes, auto);
    margin-right: map-get($margin-sizes, auto);



    @include screen(md) {
        max-width: 80%;
    }

    @include screen(lg) {
        max-width: 70%;
    }
  }

  button {
    padding: 1.2em;
    border: none;
    background: color(background-button);
    color: color(text-button);
    transition: transform transition(fast, out);
    font-size: 1.2em;
    transform: scale(1);

    &:hover {
      transform: scale(1.15);
    }
  }

  .br {
    margin-bottom: map-get($margin-sizes, lg);
  }

  figure,
  blockquote {
    margin: 0;
    margin-bottom: map-get($margin-sizes, md);

    overflow-x: scroll;
    font-size: 1rem;
    border-left: 3px solid color(red);
    padding-left: .4em;
    box-shadow: shadow(lg);

    @include screen(md) {
        padding-left: 1em;
    }
  }

  p {
    //   inline code
    code {
      background: color(background-neutral);
      border-radius: 3px;
      color: color(text-accent);
      border: 1px solid color(dark-gray);
    }
  }

  code {
      font-family: 'Roboto Mono', monospace;
  }
}
