$markdown-namespace: "markdown" !default;
* {
  box-sizing: border-box;
}
.#{$markdown-namespace} {
  margin: auto;
  width: 95%;
  max-width: 900px;

  ul {
      list-style-type: disc;
      padding-left: 1em;

      li {
          &:not(first-child) {
              margin-top: 1em;
          }
      }
  }

  a {
    color: color(default-link);
  }

  img {
    margin: auto;
    max-width: 100%;
    box-shadow: shadow(lg);
    margin-top: map-get($margin-sizes, sm);
    margin-bottom: map-get($margin-sizes, lg);
    margin-left: map-get($margin-sizes, auto);
    margin-right: map-get($margin-sizes, auto);

    @include screen(md) {
        max-width: 80%;
    }

    @include screen(lg) {
        max-width: 70%;
    }
  }

  button {
    padding: 1.2em;
    border: none;
    background: color(background-button);
    color: color(text-button);
    transition: transform transition(fast, out);
    font-size: 1.2em;
    transform: scale(1);

    &:hover {
      transform: scale(1.15);
    }
  }

  .br {
    margin-bottom: map-get($margin-sizes, lg);
  }

  figure {
      overflow-x: scroll;
      font-size: 1rem;

      margin: 0;
      border-left: 3px solid color(red);
      padding-left: .4em;
      margin-bottom: map-get($margin-sizes, md);
      box-shadow: shadow(lg);

      @include screen(md) {
          padding-left: 1em;
      }
  }

  blockquote {
    border-left: 3px solid color(red);
    padding-left: .4em;
    padding-right: .4em;
    fon-size: 1.5em;
    box-shadow: shadow(lg);

    code {
        font-family: $body-font;
    }

    @include screen(md) {
        padding-left: 1em;
        padding-right: 1em;
        display: inline-block;
    }

    &.center {
        display: table;
        margin: auto;
    }
  }

  blockquote {
    margin: auto;
    font-size: 1rem;
    border-left: 3px solid color(red);
    padding-left: .4em;
    box-shadow: shadow(lg);
    width: 100%;
    display: inline-block;

    @include screen(md) {
      padding: 1em;
      width: auto;
    }
  }

  p {
    //   inline code
    code {
      background: color(background-neutral);
      border-radius: 3px;
      color: color(text-accent);
    }
  }

  code {
      font-family: 'Roboto Mono', monospace;
  }

  .underline {
      border-bottom: 3px solid currentColor;
  }

  .footnotes {
      margin-top: map-get($margin-sizes, lg);
  }
}
