---
layout: default
title: Blog posts I've written
sub-title: Code, book reviews, personal thoughts on workflow and motivation
---
<header class="mw--95-90 m--auto">
  <h1 class="text--title">{{ page.title }}</h1>
  <h5 class="text--sub-title">{{page.sub-title}}</h5>
</header>
<main class="py--10">
  <ul>
    <!-- Each blog post -->
    {% for post in site.categories.blog %}
    <!-- Link handles redirects to external sources -->
    <a {% if post.redirect %}target="_blank"{% endif %}
        href="{% if post.redirect %}{{post.redirect}}
            {% else %}{{ post.url | prepend:site.baseurl }}{% endif %}" >
      <!-- Style list items -->
      <li class="text--{{post.color}}
                  text-hover--light
                  bg-hover--{{post.color}}
                  trans-all--fast-in-out
                  py-3">
        <section class="mw--95-90 m--auto ">
            <h3 class="mt-0">{{post.title}}</h3>
            <div class="flex flex--flag">
                {% if post.type%}
                    <span class="text--lg">{{post.type}}</span>&nbsp;&nbsp;
                {% endif %}

                <time>{{post.date | date: '%B %-d, %Y' }}</time>
            </div>
        </section>
      </li>
    </a>
    {% endfor %}
  </ul>
</main>
