---
layout: markdown
title: Blog posts I've written
slug: blog
color: seafoam
---

<p class="mw--95-60 text--gray s">
    A blog that is mostly about things I want to remember, books I thought
    were interesting, lossly catorgorized by emoji.
</p>

<ul class="p--reset">
{% for post in site.categories.blog %}
{% if site.categories.blog.first.url == post.url %}
    <li class="mt-0">
      <h3 class="mt-0">
{% else %}
    <li>
      <h3>
{% endif %}
        <a {% if post.redirect %}target="_blank"{% endif %}
            href="{% if post.redirect %}{{post.redirect}}
                {% else %}{{ post.url }}{% endif %}"
            class="text--{{post.color}}" >
                {{post.title}}
        </a>
    </h3>
    <div class="flex flex--flag text--gray text--code">
        {% if post.type %}
            <span class="icon">{{post.type}}</span>&nbsp;&nbsp;
        {% endif %}

        <time>{{post.date | date: '%B %-d, %Y' }}</time>
    </div>
  </li>
{% endfor %}
</ul>
