<footer class="_footer">
    <p>Made with ☃ by 
            <a class="_footer--social-list-item-link" href="{{site.url}}">Devan Huapaya</a></p>
    <ul class="_footer--social-list">
        <li class="_footer--social-list-item">
            <a class="_footer--social-list-item-link" target="_blank" href="https://twitter.com/devanipsum">twitters</a>
        </li>
        <li class="_footer--social-list-item">
            <a class="_footer--social-list-item-link" target="_blank" href="https://github.com/imdevan">githubs</a>
        </li>
        <li class="_footer--social-list-item">
            <a class="_footer--social-list-item-link" target="_blank" href="https://www.facebook.com/devan.huapaya">facebooks</a>
        </li>
        <li class="_footer--social-list-item">
            <a class="_footer--social-list-item-link" target="_blank" href="http://codepen.io/devanh">codepens</a>
        </li>
        <li class="_footer--social-list-item">
            <a class="_footer--social-list-item-link" target="_blank" href="mailto:huapayadevan@example.com?Subject=What's%20Up%20Homie?">emails</a>
        </li>
    </ul>
</footer>
<script type="text/javascript" src="/js/main.js"></script>
