{% include svg/menu.svg %}
<div  id="menu" class="menu--container">
    <aside class="menu">
        <nav class="menu--list">
            <a href="/projects" class="base--a">
                Projects
            </a>
            <a href="/blog" class="base--a seafoam">
                Blog
            </a>
            <a href="/talks" class="base--a salmon">
                Talks
            </a>
            <a href="/about" class="base--a purple">
                About
            </a>
            <a href="/resume" class="base--a">
                Resume
            </a>
        </nav>
    </aside>
</div>
