$border-namespace: "b" !default;
$border-radius-namespace: "r" !default;
$border-radius-sizes: (
    round: 50%,
    md: 5px,
    lg: 10px,
);

.#{$border-namespace} {
    &#{$border-radius-namespace} {
        @each $border-radius, $border-radius-val in $border-radius-sizes {
            &--#{$border-radius} {
                border-radius: $border-radius-val
            }
        }
    }
}
