$flex-namespace: "flex" !default;
$flex-sizes: 1, 2, 3;

.#{$flex-namespace} {
  display: flex;

  &--md-row {
    flex-direction: column;

    @include screen(md) {
      flex-direction: row;
    }

    &-rev {
      flex-direction: column;

      @include screen(md) {
        flex-direction: row-reverse; 
      }
    }
  }

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--flag {
      align-items: center;
  }

  &--space-around {
    justify-content: space-around;
  }

  &--space-between {
    justify-content: space-between;
  }

  &__box {
    @each $size in $flex-sizes {
      &-#{$size} {
        flex: $size;
      }
      &-md-#{$size} {
        @include screen(md) {
          flex: $size;
        }
      }
    }

    &--gutter {
      margin-bottom: 1em;

      &:last-of-type {
        margin-bottom: 0;
      }

      @include screen(md) {
        margin-right: 1em;
        margin-bottom: 0;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
