.hide {
    display: none;

    &--md {
        @include screen(md) {
            display: none;
        }
    }
}

.show {

    &--md {
        @include screen(md) {
            display: auto;
        }
    }
}
