$margin-namespace: "m" !default;
$margin-directions: (
  l: left
);
$margin-sizes: (
  0: 0,
  sm: rem(1),
  md: rem(2),
  lg: rem(3),
  xl: rem(5),
  auto: auto,
);

@mixin margin($direction, $value) {
    margin-#{$direction}: $value;
}

.#{$margin-namespace} {
  &--auto {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
  }

  &l-md-sm {
    margin-left: 0;

    @include screen(md) {
      margin-left: map-get($margin-sizes, sm);
    }
  }

  &t {
    @each $size, $val in $margin-sizes {
        &-#{$size} {
            @include margin("top", $val)
        }
    }

    &-md-0 {
      @include screen(md) {
        margin-top: 0;
      }
    }
  }

  &b {
    @each $size, $val in $margin-sizes {
        &-#{$size} {
            @include margin("bottom", $val)
        }
    }
  }
}
