$padding-namespace: "p" !default;
$padding-verticle: "py" !default;
$padding-top: "pt" !default;
$padding-list: "p-list__item" !default;
$padding-bottom: "pb" !default;
$padding-sizes: 1, 2, 3, 4, 5, 10, 15, 20;

.#{$padding-namespace} {
  &--reset {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  &-md {
    &--reset {
      @include screen(md){
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
      };
    }
  }
}

.#{$padding-verticle} {
  @each $size in $padding-sizes {
    &-#{$size} {
      padding-top: rem($size);
      padding-bottom: rem($size);
    }
  }
}

.#{$padding-namespace} {
  @each $size in $padding-sizes {
    &-#{$size} {
      padding: rem($size);
    }
  }
}

.#{$padding-top} {
  @each $size in $padding-sizes {
    &-#{$size} {
      padding-top: rem($size);
    }
  }
}

.#{$padding-bottom} {
  @each $size in $padding-sizes {
    &-#{$size} {
      padding-bottom: rem($size);
    }
  }
}

.#{$padding-bottom} {
  @each $size in $padding-sizes {
    &-#{$size} {
      padding-bottom: rem($size);
    }
  }
}
