// Base text reset
$body-font: "Open Sans", Ariel;
body {
    font-family: $body-font;
    color: color(text-dark);
    font-size: 21px;
    line-height: 1.25;
}

%hoverUnderline {
    position: relative;

    &:after{
        content: "";
        transition: width transition(fast, cubic);
        position: absolute;
        bottom: -0.25rem;
        height: 0.15rem;
        width: 0;
        background: currentColor;
        left: 50%;
        transform: translateX(-50%);
    }

    &:hover:after{
        width: 100%;
    }
}

// Link reset
a {
    text-decoration: none;
    color: color(text--accent);
    @extend %hoverUnderline;

    &:focus,
    &:visited {
        color: color(text--accent);
    }
}

$typography-namespace: "text" !default;

.#{$typography-namespace} {
    &--center {
        text-align: center;
    }

    &--light {
        color: color(text-light);
    }

    &--lg {
        font-size: 2em;
    }

    &--code {
        font-family: 'Roboto Mono', monospace;
    }

    &--highlight {
        font-family: 'Dancing Script', cursive;
        font-size: 2em;
    }

    &-hover--light {
        &:hover {
            color: color(text-light);
        }
    }

    &-hover--dark {
        &:hover {
            color: color(text-dark);
        }
    }

    @each $color, $color-val in $colors  {
        &--#{$color} {
            color: $color-val;

            &:visited,
            &:active,
            &:focus {
                color: $color-val;
            }
        }
    }
}
