// Base text reset
$body-font: "Open Sans", Ariel;
body {
    font-family: $body-font;
    color: color(text-dark);
    font-size: 21px;
    line-height: 1.25;
}

// Link reset
a {
    text-decoration: none;
    color: color(text--accent);

    &:focus,
    &:visited {
        color: color(text--accent);
    }
}

$typography-namespace: "text" !default;

.#{$typography-namespace} {
    &--center {
        text-align: center;
    }

    &--light {
        color: color(text-light);
    }

    &--code {
        font-family: 'Roboto Mono', monospace;
    }

    &--highlight {
        font-family: 'Dancing Script', cursive;
        font-size: 2em;
    }

    &-hover--light {
        &:hover {
            color: color(text-light);
        }
    }

    @each $color, $color-val in $colors  {
        &--#{$color} {
            color: $color-val;

            &:visited,
            &:active,
            &:focus {
                color: $color-val;
            }
        }
    }
}
