---
layout: default
title: Hi, I'm Devan
sections:
  - title: Home page
    color: purple
    list:
      - <strike>Page larger than 100vh, but doesn't need to be</strike>
      - <strike>Comas look weird on small vp</strike>
  - title: Porfolio
    color: blue
    list:
      - <strike>Title formatting is un-even</strike>
      - Need images for each project
      - All projects need descriptions and <analysis></analysis>
  - title: Blog articles
    color: seafoam
    list:
      - <strike>All images should have max-width 100%</strike>
  - title: Global
    color: salmon
    list:
      - Put white background on the menu nav, so that it shows up when in
        front of a colored background
      - Add gray dates (that don't move) under talks and blog posts
      - <strike>Need a way to navigate back to home or to other pages</strike>
      - <strike>I know that last one seems like I should just have a menu,
            but I'm trying to avoid that - oh well...</strike>
      - Add social row to the bottom of menu with twitter, github, linkedin,
        and email?
      - Set home page to project page with sub header
      - Add sub header to talks and blog page (maybe to about aswell)
  - title: Maybe
    color: blue
    list:
      - <strike>Add maybe column</strike>
      - Scroll up on home page has something that slowly comes up like a swipe to refresh
        but a salutation
---

<div class="page">
    <div class="_full">
        <div class="page--headline">
            <p>
                Hi, I’m Devan. This is the progress / parts remaining of my site
                <span class="emoji">ᵔᴥᵔ</span>
        </div>
        {% for section in page.sections %}
        <div class="base--h3 {{section.color}}">
          {{ section.title }}
        </div>
        <ul>
            {% for item in section.list %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
</div>
