.blog-post {

    &--link {
        @extend .base--h2;
        @extend .blue;
        padding: $br 0;
        overflow: auto;
        display: block;

        &:nth-child(2n) {
            @extend .salmon;
        }
        &:nth-child(3n) {
            @extend .purple;
        }
    }

    &--list-item {
        @extend .list--item;
        @extend %hoverUnderline;
        transition: all 0.2s $timing-function;
        display: inline-block;

        &:hover {
            transform: translateX(25px);
        }
    }
}
