$blog-article--margin--CENTERED: br(2) auto br(4) auto;

@mixin color($first) {
    $second: ( ($first + 4) % 4 + 1 );
    $third: ( ($first + 5) % 4 + 1 );
    $fourth: ( ($first + 6) % 4 + 1 );

    color: $base--color;
    h1 { color: nth($color-list, $first); }
    h2 { color: nth($color-list, $second); }
    h3 { color: nth($color-list, $third); }
    h4 { color: nth($color-list, $fourth); }

    .highlight {
        border-color: nth($color-list, $first);
    }

    a {
        @extend %hoverUnderline;
        color: nth($color-list, $third);

        &:focus, &:visited {
            color: nth($color-list, $third);
        }
    }
}

.blog-article {
    &.blue {
        @include color(1);
    }
    &.seafoam {
        @include color(2);
    }
    &.salmon {
        @include color(3);
    }
    &.purple {
        @include color(4);
    }

    h1 { margin-bottom: br(2); }
    h2 { @extend .base--h2; margin-bottom: 0; }
    h3 { @extend .base--h3; margin-bottom: br(2);}

    p {
        font-size: 21px;
        line-height: 1.58;
        margin: 0;
        margin-bottom: br(2);
    }

    .highlight {
        margin: $blog-article--margin--CENTERED;
        border-left: 3px solid $blue;
        box-shadow: $base--box-shadow;
        background: darken($base--bg, 2%);
        color: lighten($base--color, 5%);
        padding: $br;
        font-size: 16px;
        line-height: 1.5;
        overflow: scroll;
    }

    img {
        @extend .image;
        margin: $blog-article--margin--CENTERED;
    }

    &--mostly-empty {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    // Code styles
    .c, .c1 {
      color: #999999;
    }

    .p {
        color: #515151;
    }

    .s2 {
      color: #99CC99;
    }

    .se {
      color: #99CCCC;
    }

    .k, .nx {
      color: #66CCCC;
    }

    .o {
      color: #6699CC;
    }

    .nv {
      color: #F2777A;
    }

    // Unused Tomorrow Night Eighties Styles from Atom
    // .editor, .editor .gutter {
    //   background-color: #2D2D2D;
    //   color: #CCCCCC;
    // }
    //
    // .editor.is-focused .cursor {
    //   border-color: #CCCCCC;
    // }
    //
    // .editor.is-focused .selection .region {
    //   background-color: #515151;
    // }
    //
    // .editor.is-focused .line-number.cursor-line-no-selection, .editor.is-focused .line.cursor-line {
    //   background-color: #393939;
    // }
    //
    // .keyword.operator.class, .constant.other, .source.php.embedded.line {
    //   color: #CCCCCC;
    // }
    //
    // .constant.numeric, .constant.language, .support.constant, .constant.character, .variable.parameter, .punctuation.section.embedded, .keyword.other.unit {
    //   color: #F99157;
    // }
    //
    // .entity.name.class, .entity.name.type.class, .support.type, .support.class {
    //   color: #FFCC66;
    // }
    // .keyword, .storage, .storage.type, .entity.name.tag.css {
    //   color: #CC99CC;
    // }
    //
    // .invalid {
    //   color: #CDCDCD;
    //   background-color: #F2777A;
    // }
    //
    //
    // .invalid.deprecated {
    //   color: #CDCDCD;
    //   background-color: #CC99CC;
    // }
    //
    // .markup.inserted.diff, .markup.deleted.diff, .meta.diff.header.to-file, .meta.diff.header.from-file {
    //   color: #FFFFFF;
    // }
    //
    // .markup.inserted.diff, .meta.diff.header.to-file {
    //   color: #718c00;
    // }
    //
    // .markup.deleted.diff, .meta.diff.header.from-file {
    //   color: #c82829;
    // }
    //
    // .meta.diff.header.from-file, .meta.diff.header.to-file {
    //   color: #FFFFFF;
    //   background-color: #4271ae;
    // }
    //
    // .meta.diff.range {
    //   font-style: italic;
    //   color: #3e999f;
    // }
}
