._blog-article {
    @include grid-span(10, 2);
    @include breakpoint($bp-m) {
        @include grid-span(6, 4);
    }
    @extend %group;
    margin-top: 4rem;

    a{
        color: inherit;
        &:visited, &:focus{
            color: inherit;
        }
    }
    h1,
    h2,
    h3 {
        @extend %raleway;
        font-weight: 400;
        color: inherit;
    }
    ul{
        line-height: 1.5em;
    }
    .highlight {
        padding-bottom: 2rem;
    	font-size: 0.75em;
        background: inherit;
        overflow: scroll;
    }
}
