.image {
    display: block;
    background-size: cover;
    background-position: center;
    box-shadow: $base--box-shadow;

    &--CENTERED {
        @extend .image;
        margin: auto;
        height: 30*$br;
        width: 40*$br;

        @media screen and (max-width: $media-md) {
            width: 100%;
            height: 20*$br;
        }
    }

    &--FULL {
        @extend .image;
        width: 100%;
        height: 22*$br;
    }

    &--MD {
        @extend .image;
        width: $md-size;
        height: auto;
        max-width: 100%;
    }
}
