.list {
    padding: 0 0;
    margin: 0 0;

    list-style-type: none;

    text-align: left;

    &--item {
        width: 50%;
        padding: 1rem;
        margin: auto;

        font-size: 3em;

        cursor: pointer;
        animation: inandup .3s cubic-bezier(.19,.14,.08,1.39);
        text-align: left;
        text-decoration: none;

        color: $body-color;

        box-size: border-box;

        &:hover {
            color: $body-background;
            background: $body-color;
        }
    }

    &--link {
        text-decoration: none;
    }
}

@keyframes inandup {
    0% {
        transform: translateY(100%) scale(.5);
    }
    100% {
        transform: translateY(0%) scale(1);
    }
}
