$menu-width: 25rem;

.menu {
    position: fixed;
    top:0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: $menu-width;
    height: 100%;
    background: linear-gradient(to bottom, #01a0ff, #a388d7);
    cursor: default;
    transition: opacity $short $timing-function;

    & .base--a {
        color:$white;
    }
    &--list {
        @include ms(2);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 50%;
    }
    &--container{
        position: fixed;
        top:0;
        z-index: 2;
        visibility: hidden;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: url('../img/close.svg') 38 38, pointer;
        transition: transform $short $timing-function;
        transform: translateX($menu-width);

        &.open {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
    }
    &--button {
        position: fixed;
        top: br(2);
        right: br(2);
        z-index: 2;
        cursor: pointer;
        transition: fill $short $timing-function;

        &:hover{
            fill: $blue;
        }
    }
}
