// Sytles for blog / art / projects listed on a page (excluding archive)
$page-post-secondary-color: $highlightColor;

.page-post {
    @include float-span(12);
    @extend %box-shadow;
    padding: 5%;
    margin-bottom: 2em;
    box-sizing: border-box;
    display: block;
    float: left;
    line-height: 1.2em;
    animation: fadeinup 2s;
    &--MASSIVE {
        @extend .page-post;
        box-shadow: none;
        color: $black;
        @include ms(4);
        &:hover {
            background-color: $page-post-secondary-color;
            color: #fff;
        }
    }
    &--BIG {
        @extend .page-post;
        @include ms(1);
        @include breakpoint($bp-m) {
            @include float-span(8);
        }
    }
    &--BASIC {
        @extend .page-post;
        @include ms();
        @include breakpoint($bp-m) {
            @include float-span(4);
        }
    }
    &--title {
        color: $page-post-secondary-color;
        text-decoration: none;
        &:visited,
        &:active,
        &:focus {
            text-decoration: none;
            color: lighten($page-post-secondary-color, 10%);
        }
        &:hover {
            text-decoration: underline;
        }
    }
    
    h1,
    h2,
    h3,
    h4 {
        margin-top: 0;
    }
}
