// Sytles for blog / art / projects listed on a page (excluding archive)
$post-header-secondary-color: $highlightColor;

.post-header {
    @include float-span(12);
    @extend %box-shadow;

    animation: fadeinup 2s;
    color: $post-header-secondary-color;
    height: 5rem;
    line-height: 1.2em;
    margin-bottom: 2rem;
    padding: 5%;
    text-decoration: none;
    transition: all .3s linear;
    z-index: 1;

    &:visited,
    &:active,
    &:focus {
        text-decoration: none;
        color: lighten($post-header-secondary-color, 10%);
    }

    &:hover {
        background-color: $post-header-secondary-color;
        color: #fff;
        box-shadow: none;
    }

    &--MASSIVE {
        @extend .post-header;
        box-shadow: none;
        color: $black;
        @include ms(4);
    }

    &--BIG {
        @extend .post-header;
        @include breakpoint($bp-m) {
            @include float-span(8);
        }
    }

    &--BASIC {
        @extend .post-header;
        @include breakpoint($bp-m) {
            @include float-span(4);
        }
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
}
