%project-link {
    @extend %hoverUnderline;
    display: inline-block;
    .project:hover & {
        &:after { width: 100%; }
    }
}

.project {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &:before, svg {
        position: absolute;
        display: block;
        transition: transform $short $timing-function;
        transform: rotate(45deg) scale(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
        width: 500px;
        height: 500px;
        content: " ";

        @media(min-width: 1000px) {
            width: 500%;
            height: 500%;
        }
    }

    &:hover {
        &:before{
            transition: transform $short $timing-function $short/2;
            transform: rotate(45deg) scale(1);
        }
    }

    &--name {
        @extend %project-link;
        font-size: 1.5rem;
        margin: 1rem;
        z-index: 1;
    }

    &--img {
        position: absolute;
        box-shadow: $base--box-shadow;
        left: 50%;
        top: 50%;
        transform: translateY(-50%)  translateX(-50%);
        width: 80%;
        height: auto;
        max-height: 100%;
        z-index: 1;

        &--SMALL {
            @extend .project--img;
            height: 60%;
            width: auto;
        }

        &--EXTRA-SMALL {
            @extend .project--img;
            box-shadow: $base--box-shadow--md;
            height: 20%;
            width: auto;
        }
    }

    &--tools {
        position: absolute;
        bottom: 1.58rem;
        left: 1.58rem;
        z-index: 1;
    }

    &--tool {
        display: inline-block;
        margin-right: 1rem;
        border-bottom: 3px solid;
    }

    &.seafoam {
        background: $seafoam;
        color: $white;
        &:before {
            background-color: darken($seafoam, 5%);
        }
    }
    &.salmon {
        background: $salmon;
        color: $white;
        &:before {
            background-color: darken($salmon, 5%);
        }
    }

    &.purple {
        background: $purple;
        color: $white;
        &:before {
            background-color: darken($purple, 5%);
        }
    }
    &.blue {
        background: $blue;
        color: $white;
        &:before {
            background-color: darken($blue, 5%);
        }
    }
    //
    // svg {
    //     position: absolute;
    //     z-index: 0;
    //     transform: scale(0);
    //     width: 25%;
    //     height: auto;
    //     transition: transform $long $timing-function;
    //
    //     * {
    //         background: currentColor;
    //     }
    // }

    // &:hover {
    //     svg {
    //         transform: scale(1);
    //     }
    // }
}
