.project {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: none;

    &--name {
        @extend %hoverUnderline;
        display: inline-block;
        font-size: 1.5rem;
        margin: 1rem;
        .project:hover & {
            &:after { width: 100%; }
        }
    }

    &--img {
        position: absolute;
        box-shadow: $base--box-shadow;
        left: 50%;
        top: 50%;
        transform: translateY(-50%)  translateX(-50%);
        width: 80%;
        height: auto;
        max-height: 100%;

        &--SMALL {
            @extend .project--img;
            height: 60%;
            width: auto;
        }

        &--EXTRA-SMALL {
            @extend .project--img;
            box-shadow: $base--box-shadow--medium;
            height: 20%;
            width: auto;
        }
    }

    &--tools {
        position: absolute;
        bottom: 1.58rem;
        left: 1.58rem;
    }

    &--tool {
        display: inline-block;
        margin-right: 1rem;
        border-bottom: 3px solid;
    }

    &.seafoam {
        background: $seafoam;
        color: $white;
    }
    &.salmon {
        background: $salmon;
        color: $white;
    }

    &.purple {
        background: $purple;
        color: $white;
    }
    &.blue {
        background: $blue;
        color: $white;
    }
}
