{% include head.html %}
{% include header.html %}

<main role="main" class="bg--white">
  <div class="markdown pt-5 pb-10">
    <!-- Page Title -->
    <h1>{{page.title}}</h1>
    <time class="text--gray">
        {{page.date | date: '%B %-d, %Y' }}
        {% unless page.hide-time %}
          •&nbsp;{{ content | reading_time_as_i }}
        {% endunless %}
    </time>

    <!-- Page content -->
    <div class="pt-5 ">
        {{ content }}
    </div>

    <!-- Author link -->
    <div class="text--center st">
        by <a href="https://twitter.com/devanIpsum">Devan</a>
    </div>
    <!-- Twitter share 😉 -->
    <div class="text--center mt-sm">
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-via="devanIpsum" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</main>

{% include footer.html %}
