{% include head.html %}
{% include menu.html %}

<main role="main" class="bg--white">
    <header class="article-header bg--{{page.color}} pb--xxl text--light">
        <div class="mw--95-90 m--auto pt--xxl">
            <h1 >{{page.title}}</h1>

            <time class="text--light">
                {{page.date | date: '%B %-d, %Y' }}
                {% unless page.hide-time %}
                  •&nbsp;{{ content | reading_time_as_i }}
                {% endunless %}
            </time>
        </div>
    </header>

  <div class="markdown pb--sm">
    <h1 class="text--gray">
        {% if page.warning %}
          {{page.warning}}
        {% endif %}
    </h1>

    <!-- Page content -->
    <div class="pt--xl">
        {{ content }}
    </div>

    <!-- Author link -->
    <div class="text--center pt--xl">
        by <a href="https://twitter.com/devanIpsum">Devan</a>
    </div>
    <!-- Twitter share 😉 -->
    <div class="text--center mt--sm mb--xxl">
        <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-via="devanIpsum" data-show-count="false">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</main>

{% include footer.html %}
