{% include head.html %}

<main class="pos--relative" role="main">
    <header class="text--code" style="position: absolute; width: 100%;">
        <div class="flex flex--verticle-center flex--no-wrap mw--95-90 m--auto">
            <h3 class="text--rainbow text--shadow">~ <a href="/">imdevan</a> / <a href="http://twitter.com/devanipsum">twitter</a> / <a href="blog">blog</a> / <a href="hire-me">hire-me</a> / <a href="about-me">about-me</a>
            </h3>
        </div>
    </header>
    {{ content }}
</main>

{% include footer.html %}
