{% include _head.html %}
<body ontouchstart="">
  {% include _navigation.html %}
  <header id="page-header" style="background:#eee url({{page.header_img}}) no-repeat center center; background-size:cover;" class="header-full-bleed row">
      <h1 class="_project--title">{{page.title}}</h1>
      <h3 class="_project--subtitle">
        <p>
          <time datetime="{{page.date}}">{{page.date | date: "%B %d, %Y"}}</time>
        </p>
        <p>{{page.project_type}}</p>
      </h3>
      <div class="header-scroll">
        <i class="fa fa-angle-double-down fa-4x pulse"></i>
      </div>
  </header>

  <article class="_project--content">
    <!-- This is where post content lives -->
      {{content}}
    <!-- end of post content -->
    <footer class="_project--footer">
      {% if page.author %}
      <p class="_project--meta-data">
      <time  class="_project--time" datetime="{{page.date}}">{{page.date | date: "%B %d, %Y"}}</time><br />
      By: <a href="" rel="author">{{page.author}}</a>
      </p>
      {% endif %}
    </footer>
  </article>
  
  {% include _related_posts.html %}
  {% include _footer.html %}
  {% include _google_analytics.html %}
  <script>
    $('#page-header').css('min-height',window.innerHeight + 'px');

    $(document).ready(function() {
      if (window.innerHeight < $('#page-header').height()) {
         $('.header-scroll').hide();
      }

      $('.header-scroll').click(function() {
         $('html, body').animate({
             scrollTop: $('.single-column').offset().top
         }, 500);
       return false;
      });
   });
  </script>

  {% if page.theme == 'light' %}
  <script>
      $('.site-nav--link, .header-scroll .fa').addClass('light');
  </script>
  {% endif %}
</body>
</html>