
<section class="_section">
    <h1 class="_section--title">Press</h1>
    <div class="photographs-list">
        {% for post in site.categories.arts %}
          {% if post.header_img %}
        <a class="_section--link" href="{{post.url}}">
            <div style="background-image: url({{post.header_img}})" class="post-thumbnail">
                <div class="post-thumbnail--title">{{post.title}}</div>
            </div>
        </a>
          {% endif %}
        {% endfor %}
    </div>
</section>