$br: 1.38rem;
$base--box-shadow: 20px 20px 60px rgba(0,0,0,0.2), 30px 30px 80px rgba(0,0,0,0.1);
$base--box-shadow--flipped: -20px 20px 60px rgba(0,0,0,0.2), -30px 30px 80px rgba(0,0,0,0.1);
$base--bg: $white;
$base--color: $black;

.base {

    &--h2 {
        font-size: 2rem;
        font-weight: 300;
        line-height: 3rem;
        padding: 0;
        margin: 0;

        &--HALF {
            @extend .base--h2;
            @extend ._half;
        }
    }

    &--h3 {
        font-size: 1.5rem;
        line-height: 2.25rem;
        position: relative;

        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 0.15rem;
            width: 100%;
            background: currentColor;
        }
    }


    &--emoji {
       margin-left: 1rem;
    }

    &--box-shadow {
        box-shadow: 20px 20px 50px rgba($black, 0.2);
    }
}


body {
  margin: 0; padding:0;
  background: $base--bg;
  color: $base--color;
}

a { text-decoration: none; }
