// Primary Colors
$black:#2e2e2e;
$teal: #81BDA4;
$tan: #F9F2E7;
$salmon: #FEA6A2;
$white: #fff;

// Pantone colors
// Spring 2016
$rose-quarts: #F8CAC8;
$peach-echo: #F97767;
$serenity: #90A7D2;
$snorkle-blue: #004E86;
$buttercup: #FBE21F;
$limpet-shell: #98DDDE;
$limpet-shell-dark: #1B6567;
$lilac-gray: #9896A5;
$fiesta: #DD4031;
$iced-coffee: #B18F6A;
$green-fresh: #79C752;
