// Primary Colors
$black:#2e2e2e;
$teal: #81BDA4;
$tan: #F9F2E7;
$salmon: #FEA6A2;
$white: #fff;

$blue-dark:#003399;
$blue-medium:#00A8C6;
$blue-light:#40C0CB;

$grey-dark:#222;
$grey-medium:#777;
$grey-light:#F8F8F8;

// Base Colors
$bgColor: $grey-light;
$highlightColor: $blue-light;
$primaryColor: #333;
$linkColor: $blue-medium;
$codeBGColor: $grey-dark;

// Class Specific Colors
$bodyBGColor: $white;
$bodyColor: $primaryColor;

$navBGColor: $bodyBGColor;
$navHoverBG: $linkColor; 
$navHoverColor: $bgColor;
$navColor: $bodyColor;
$navBorderColor: rgba($primaryColor, 0.5);;

$footerBorderColor: rgba($primaryColor, 0.5);
$footerLinkColor: $linkColor;

$pagePostColor: lighten(cadetblue, 25%);