// Primary Colors
$blue: #01A0FF;
$purple: #A388D7;
$seafoam: #77C7B1;
$salmon: #FF9D76;
$white: #fdfdfd;
$black: #444;


.blue {color: $blue;}
.purple {color: $purple;}
.salmon {color: $salmon;}
.seafoam {color: $seafoam;}
