$largeHeader: 5.38836em;
$mediumHeader:4.23607em;
$sectionHeader: 3.33019em;
$smallHeader: 2.61803em;
$modScaleUtil: 1.2;
$modScale: $modScaleUtil * 1rem;

@mixin ms($s: 1) {
	$t: $s * $modScale;
	font-size: $t;
	line-height: $t*1.4;
}

%helvetica{
    font-family: Helvetica;
    font-weight: lighter;
}

body{
	@extend %helvetica;
	@include ms(1);
}
