$max-width: 60%;
$br: 1.38rem;
$media-sm: 500px;
$media-md: 700px;
$media-lg: 1200px;

._full {
  max-width: $max-width;
  margin: auto;
}

._half {
  width: 50%;
  float: left;
}


._project-list {
  &--item {
    height: 90vh;
    display: block;
    float: left;
    width: 50%;
    margin-bottom: -1px;

    @media (max-width: $media-md){
      width: 100%;
      height: 600px;
    }

    &--LARGE {
        @extend ._project-list--item;
        width: 100%;
    }
  }
}
