$max-width: 60%;
$br: 1.38rem;

._full {
  max-width: $max-width;
  margin: auto;
}

._half {
  width: 50%;
  float: left;
}


._project-list {
  &--item {
    height: 90vh;
    display: block;
    float: left;
    width: 50%;
    margin-bottom: -1px;

    @media (max-width: 700px){
      width: 100%;
    }

    &--LARGE {
        @extend ._project-list--item;
        width: 100%;
    }
  }
}
