%link{
	text-decoration: none;
	color: $linkColor;
	&:hover{
		text-decoration: underline;
	}
	&:visited, &:focus, &:active{
		color: $linkColor;
	}
}
%group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
%box-shadow {
    box-shadow: 10px 10px 30px rgba(black, 0.25);
}
* html %group             { zoom: 1; } /* IE6 */
*:first-child+html %group { zoom: 1; } /* IE7 */