/////////////////////////////////////////
// Breakpoints
/////////////////////////////////////////
$bp-s: 5;
$bp-m: 10;
$bp-l: 15;
$bp-xl: 20;

$bodyFontSize: 1em;
$navFontSize: 1rem;
$navHeight: 3rem;
