/////////////////////////////////////////
// Breakpoints
/////////////////////////////////////////
$bp-s: 5rem;
$bp-m: 10rem;
$bp-l: 15rem;
$bp-xl: 20rem;

$bodyFontSize: 1em;
$navFontSize: 1rem;
$navHeight: 3em;
